/*styling label of register & login component*/
.register-login-label {
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 6px;
  margin-left: 1rem;
}

/*styling input of register & login component*/
.register-login-input {
  width: 18rem;
  border-radius: 5px;
  border-width: 1px;
  height: 2rem;
  outline: none;
  margin-left: 2rem;
}

/*styling button of register & login component*/
.register-login-button {
  width: 22rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  outline: none;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ff751a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.1 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 12px 8px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #e60000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

#find-button:hover {
  color: #1a8cff;
  background-color: #ff9a4d;
}

/* Position and style the close button (top right corner) */
/* .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
   margin-left: 20px; 
}*/

/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1a8cff;
  color: white;
  padding: 5px 10px;
  border-color: #ff751a;
}

.openbtn:hover {
  background-color: #1a8cff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.3s; /*If you want a transition effect*/
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
